<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("a1046041-02fe-4167-893f-cdb32fdd5107");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
